.header {
    margin: 28px auto 64px;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    box-sizing: content-box;
    max-width: calc(100% - 96px);
}


@media (max-width: 1024px) {
    .header {
        margin: 28px auto 48px;
    }
}
@media (max-width: 768px) {
    .header {
        max-width: calc(100% - 48px);
    }
}
@media (max-width: 320px) {
    .header {
        max-width: calc(100% - 32px);
    }
}
