.cover__text {
    margin: 0 auto;
    max-width: 560px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    place-content: center;
    z-index: 2;
    border: blue 1px solid;
}

@media (max-width: 425px) {
    .cover__text {
        margin: 0 auto;
        width: 288px;
    }
}