.intro__title {
    margin: 0 0 33px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}


@media (max-width: 320px) {
    .info__title {
        max-width: 84%;
        font-size: 32px;
        line-height: 35px;
    }
}